.bt, .bt:hover, .bt:visited {
    text-decoration: none;
    cursor: pointer;
    font-size: 18pt;
    color: #CC0033;
    font-family: Times New Roman, Arial;
}

.cadr {
    width: 80%;
    color: blue;
    font-family: Times New Roman, Arial;
    font-size: 20pt;
    padding: 0.3em;
}